In [91]:
# Import pandas
import pandas as pd
import numpy as np

# Import your data into the pandas dataframe
path = r'C:\Users\anjan\OneDrive\Desktop\My Summer Project\Wiki Aircraft Accidents\Wiki_Aircraft_Accidents.xlsx'
df = pd.read_excel(path)

In [92]:
# Check datatypes
df.dtypes

Unnamed: 0           int64
Tot                 object
C                   object
P                   object
G                   object
N                   object
T\n                 object
Incident[nb 1]\n    object
Aircraft\n          object
Location\n          object
Phase\n             object
Airport\n           object
Distance\n          object
Date\n              object
dtype: object

In [93]:
# Drop column
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [94]:
# Rename columns to remove '\n'
df = df.rename(columns = {'Tot': 'Total', 
                          'C': 'Crew', 
                          'P': 'Passengers', 
                          'G' :'Ground', 
                          'N' : 'Note',
                          'T\n' : 'Type',
                          'Incident[nb 1]\n':'Incident', 
                          'Aircraft\n' : 'Aircraft', 
                          'Location\n':'Location', 
                          'Phase\n': 'Phase', 
                          'Airport\n':'Airport', 
                          'Distance\n':'Distance (in km)', 
                          'Date\n':'Date'})

In [96]:
# Changes to column 'Total'
df['Total'] = df['Total'].str.replace('\D+', '')

# Changes to column 'Crew'
df['Crew'] = df['Crew'].str.replace('\[nb \d+\]','')

# Changes to column 'Passengers'
df['Passengers'] = df['Passengers'].str.replace('\[nb \d+\]','')

# Changes to column 'Ground'
df['Ground'] = df['Ground'].str.replace('\D+', '')

# Changes to column 'Note'
df['x'] = df['Note'].str.replace('â€ ','0')
df['x'] = df['x'].str.replace('1\*', '1')
df['Note'] = df['x'].str.replace('\n', '')
df.drop('x', axis = 1, inplace = True)
df['Note'] = df['Note'].str.replace('\[nb \d+\]','')

# Changes to column 'Type'
df['Type'] = df['Type'].str.replace('\n','')

# Changes to column 'Phase'
df['Phase'] = df['Phase'].str.replace('\[\d\]','')

# Changes to column 'Airport'
df['Airport']=df['Airport'].str.replace('\n', '')
df['Airport'] = df['Airport'].str.replace('\[nb \d+\]','')

# Changes to column 'Distance'
df['Distance (in km)'] = df['Distance (in km)'].str.replace('\n', '')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('\<','')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('c.','')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('km','')
df['Distance (in km)'] = df['Distance (in km)'].str.replace('unknown','')
df['Distance (in km)'] = df['Distance (in km)'].str.strip()

# Changes to column 'Date'
df['Date'] = df['Date'].str.replace('\n', '')
df['Date']=df['Date'].str.replace('?', '.')

In [97]:
# Change the datatypes of columns
df['Total'] = pd.to_numeric(df['Total'])
df['Crew'] = pd.to_numeric(df['Crew'])
df['Passengers'] = pd.to_numeric(df['Passengers'])
df['Ground'] = pd.to_numeric(df['Ground'])
df['Note'] = pd.to_numeric(df['Note'])
df['Distance (in km)'] = pd.to_numeric(df['Distance (in km)'])
df['Date'] = pd.to_datetime(df['Date'])

In [98]:
df.replace('', np.nan, inplace=True)

In [99]:
# Check the datatypes
df.dtypes

Total                        int64
Crew                       float64
Passengers                 float64
Ground                       int64
Note                       float64
Type                        object
Incident                    object
Aircraft                    object
Location                    object
Phase                       object
Airport                     object
Distance (in km)           float64
Date                datetime64[ns]
dtype: object

In [100]:
# Export cleaned data to Excel
to_path = r'C:\Users\anjan\OneDrive\Desktop\My Summer Project\Wiki Aircraft Accidents\DW_Aircraft Accidents_v3.xlsx'
df.to_excel(to_path)